body  {
    display: flex;
    flex-direction: column;
}

#MainImage {
    display: flex;
    flex-direction: column;
}

#MainImage img{
    width: 250px;
    height: 250px;
    border: 3px solid #9BA9E0;
    border-radius: 50%;
    align-self: center;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #17A147;
    color: #E7EFFF;
    padding: 20px;
}

main {
    display: flex;
}

h1, #intro-text {
    text-align: center;
}

aside {

    background-color:#9BA9E0;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #17A147;
    color: black;
}