body  {
    display: flex;
    flex-direction: column;
}

#MainImage img{
    width: 250px;
    height: 250px;
    border: 3px solid #9BA9E0;
    border-radius: 50%;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #17A147;
    color: #E7EFFF;
    padding: 20px;
}